@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f9fafc, #e3f2fd);
  color: #1a202c;
}

button {
  transition: all 0.2s ease-in-out;
}
